body {
    margin: 40px;
    background-color: rgb(0, 204, 255);
  }
  
    .wrapper {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      grid-template-rows: repeat(3,minmax(1fr,auto));
      background-color: rgb(0, 204, 255);
      color: rgb(169, 33, 33);
    }
  
    .box {
      background-color: rgb(26, 187, 215);
      color: #fff;
      border-radius: 5px;
      padding: 20px;
      font-size: 150%;
      border: 1px solid red;
    }
  
    .box .box {
      background-color: rgb(91, 255, 115);
      color: #444;
      border: 1px solid red;
    }
  
    .a {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-column: 1 / 3;
      border: 1px solid red;
      font-size: 3em;
    }
  
    .b {
      grid-column: 4 ;
      border: 1px solid red;
    }
  
    .c {
      grid-column: 1;
      grid-row: 2 / 4;
      border: 1px solid red;
    }
  
    .d{
      
      grid-column: 2 / 5;
      grid-row: 2 / 4;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
      border: 1px solid red;
    }
  
    .e {
      grid-row: 1 / 3;
      grid-column: 1 ;
      border: 1px solid red;
      margin: 10px;
    }
  
    .f {
      grid-row: 1;
      grid-column: 2 / 4;
      border: 1px solid red;
      margin: 10px;
    }
  
    .g {
      grid-row: 2;
      grid-column: 2 / 4;
      border: 1px solid red;
      margin: 10px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    h2 {
      margin: 10px;
    }

    h4 {
      margin: 5px;
    }

    nav {
      text-align: center;
    }

    footer {
      text-align: center;
    }