body {
    margin: 40px;
  }
  
  .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: #fff;
      color: #444;
    }
  
    .box {
      background-color: rgb(119, 176, 202);
      color: #fff;
      border-radius: 5px;
      padding: 20px;
      font-size: 150%;
  
    }
  
    .a {
      grid-column: 2;
      grid-row: 1 / 3;
    }
    .b {
      grid-column:1;
      grid-row: 1 / 3;
    }
    .c {
      grid-column: 3 ;
      grid-row: 2 ;
    }
    .d {
      grid-column: 3;
      grid-row: 1;
    }
    .img {
        max-width: 20em;
        margin: auto;
    }
    .img-div {
        grid-template-columns: 1fr;
    }