body {
    max-width: 80em;
    border: 1px solid red;
    padding: 1em 2em;
    margin: 1em auto;
    font-family: Arial, Helvetica, sans-serif;
}
.col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    text-align: center;
}
a.active {
    color: darkblue;
}
h1 {
    font-style:initial ;
    color: #772424;
}
img {
    max-width: 15em;
    margin: 1em auto;
}
.vinstri{
    text-align: left;
}
.hægri{
    text-align: right;
}
.blar{
    color: blue;
}
.nav{
    border: 1px solid blue;
    padding: 1em;
}
.footer{
    border: 1px solid green;
    padding: 5px;
}
.upp {
    position: fixed;
    bottom: 35px;
    right: 35px;

    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: 2px solid black;
}
html {
    scroll-behavior: smooth;
}
.upp2 {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 70%;
}