body {
    background: linear-gradient(rgb(23, 210, 198),rgb(18, 185, 29));
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr; 
    justify-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 10vw;
}

footer {
    text-align: center;
    font-size: larger;
    margin: 1em;
}

.font {
    padding-left: 3vw;
}

nav {
    text-align: center;
    font-size: x-large;
}

.box {
    background: rgb(0, 123, 255);
}

.a {
    grid-column: 1 ;
    grid-row: 1;
    padding: 10px;
    font-size: x-large;
}

.b {
    grid-column: 1 ;
    grid-row: 2;
    padding: 10px;
    font-size: x-large;
}

.c {
    grid-column: 1 ;
    grid-row: 3;
    padding: 10px;
    font-size: x-large;
}

@media screen and (min-width:960px) {
    .wrapper {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr; 
    }
      
      header {
        display: grid;
        grid-column: 1 / 4;
      }
    
    .a {
        grid-column: 1 ;
        grid-row: 1 / 3;
        padding: 10px;
        font-size: x-large;
    }
    
    .b {
        grid-column: 2 ;
        grid-row: 1;
        padding: 10px;
        font-size: x-large;
    }
    
    .c {
        grid-column: 2 ;
        grid-row: 2;
        padding: 10px;
        font-size: x-large;
    }
}

@media screen and (min-width:1280px) {
    .wrapper {
        display: grid;
        justify-items: center;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
      }
      
      header {
        display: grid;
        grid-column: 1 / 4;
      }
    
    .a {
        grid-column: 1;
        grid-row: 1 / 3;
        padding: 10px;
        font-size: x-large;
    }
    
    .b {
        grid-column: 2 / 4;
        grid-row: 1;
        padding: 10px;
        font-size: x-large;
    }
    
    .c {
        grid-column: 2 / 4;
        grid-row: 2;
        padding: 10px;
        font-size: x-large;
    }
}