body {
    background: linear-gradient(rgb(23, 210, 198),rgb(18, 185, 29));
    margin: 0px;
}

@font-face {
    font-family: "Bootle";
    src: url("Bootle-4B9l.ttf");
}

h2 {
    font-family: Bootle;
}

audio {
    padding: 12px;
}

.wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr; 
    justify-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 10vw;
    font-family: Bootle;
}

footer {
    text-align: center;
    font-size: larger;
    margin: 1em;
}

.font {
    padding-left: 3vw';
}

nav {
    text-align: center;
    font-size: x-large;
}

.box {
    background: rgb(0, 123, 255);
}

.a {
    grid-column: 1 ;
    grid-row: 1;
    padding: 10px;
    font-size: x-large;
}

.b {
    grid-column: 1 ;
    grid-row: 2;
    padding: 10px;
    font-size: x-large;
}

.c {
    grid-column: 1 ;
    grid-row: 3;
    padding: 10px;
    font-size: x-large;
}

.upp {
    position: fixed;
    bottom: 35px;
    right: 35px;

    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: 2px solid black;
}

table{
    width: 100%;
    border-collapse: collapse;
}



tbody tr:nth-child(odd){
    background: #0084ff;
}

tbody tr:nth-child(even){
    background: #00fbff;
}



th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

thead{
    background: rgb(13, 105, 243);
}



@media screen and (max-width:600px) {
    table{
        width: 100%;
    }

    thead{
        display: none;
    }

    td{
        display: block;
        text-align: right;

    }

    tr{
        display: block;
        margin-bottom: 5px;
    }

    td::before{
        content: attr(data);
        float: left;

    }
}

form{
    background: linear-gradient(#00fbff, #0084ff)

}

html {
    scroll-behavior: smooth;
}

.voice {
    text-align: center;
    padding: 25px;
}

.upp2 {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 70%;
}

@media screen and (min-width:960px) {
    .wrapper {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr; 
    }
      
      header {
        display: grid;
        grid-column: 1 / 4;
      }
    
    .a {
        grid-column: 1 ;
        grid-row: 1 / 3;
        padding: 10px;
        font-size: x-large;
    }
    
    .b {
        grid-column: 2 ;
        grid-row: 1;
        padding: 10px;
        font-size: x-large;
    }
    
    .c {
        grid-column: 2 ;
        grid-row: 2;
        padding: 10px;
        font-size: x-large;
    }
}

@media screen and (min-width:1280px) {
    .wrapper {
        display: grid;
        justify-items: center;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
      }
      
      header {
        display: grid;
        grid-column: 1 / 4;
      }
    
    .a {
        grid-column: 1;
        grid-row: 1 / 3;
        padding: 10px;
        font-size: x-large;
    }
    
    .b {
        grid-column: 2 / 4;
        grid-row: 1;
        padding: 10px;
        font-size: x-large;
    }
    
    .c {
        grid-column: 2 / 4;
        grid-row: 2;
        padding: 10px;
        font-size: x-large;
    }
}